body {
  background-color: blanchedalmond;
}
input {
  padding: 8px 16px;
  margin: 10px;
  border: 2px solid;
}
#submit {
  border-radius: 5px;
  padding: 8px 16px;
  background: rgb(97, 130, 219);
}
form {
  border: 2px solid;
  padding: 0 16px;
  margin: 20px 0;
}
